@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* { box-sizing: border-box !important; }
.poppins-normal { font-family: Poppins; }
.side-navigation { min-height: 100vh; }
.close-icon { display: none; }
.logo { display: block; }
.mobile-header { display: none; }
.nav-item { border-radius: 5px; transition: 0.5s; cursor: pointer; }
.nav-item:hover:not(.active) { background: #DA70D6; }
.active { background: #9932CC; }
@media screen and (max-width: 992px) {
    .close-icon { display: block; }
    .logo { display: none; }
    .mobile-header { display: block; }
    .side-navigation {
        width: 0vw;
        transition: 0.5s;
        position: fixed;
        z-index: 99;
        overflow-x: hidden
    }
}