.card-footer-text {
    position: absolute;
    right: 0;
    bottom: 0
}

.go-button {
    transition: 0.5s;
    color: #9932CC !important;
}

.go-button:hover {
    color: #c253fa !important;
}

.dashboard-box {
    border-radius: 10px
}

table.table > thead > tr > th, table.table > tbody > tr > td {
    min-width: 200px;
}

@media screen and (min-width: 1500px) {
    .box-wrapper {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .box-table-wrapper {
        flex: 0 0 66% !important;
        max-width: 66% !important;
    }

    .box-info-wrapper {
        flex: 0 0 33% !important;
        max-width: 33% !important;
    }
}