.content-text {
    line-height: 2em;
}

.img-image {
    transition: 0.5s;
}

.img-gallery:hover {
    cursor: pointer;
}

.img-gallery:hover .img-image {
    opacity: 0.4;
}

.img-gallery:hover .text-image {
    opacity: 1;
}

.text-image {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 100%;
}

.acara-card {
    transition: 0.5s;
}

.acara-card:hover {
    transform: scale(1.05);
}

.kalender-icon {
    width: 35px;
}

.card-body {
    position: relative !important;
}

.btn-daftar {
    position: absolute !important;
    left: 0 !important;
    bottom: 10px !important;
}

@media screen and (max-width: 768px) {
    .content-text {
        font-size: 0.9rem;
    }

    .subheader-galeri {
        font-size: 1rem !important;
    }

    .header-beranda {
        font-size: 1.8rem !important;
    }

    .nama-jabatan-text {
        font-size: 1.2rem !important;
    }

    .event-header {
        font-size: 1.2rem !important;
    }

    .event-text {
        font-size: 1rem !important;
    }
}